:root {
  --background: white;
  --check: url("img/dbg.jpg");
  --circle: url("img/sun.jpg");
}
.circle {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 55px;
  height: 55px;
  background: var(--circle);
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked+.ticket .circle {
  transform: translateX(101px);
}
.dark {
  --background: black;
  --check: url("img/nbg.jpg");
  --circle: url("img/moon.jpg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background);
  transition: .5s;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.ticket {
  width: 160px;
  height: 60px;
  background: var(--check);
  border-radius: 50px;
  padding: 5px;
  position: relative;
}
